@import 'import/reset.scss';
@import 'import/_color.scss';



/*------------------------
main code start here 
-------------------------*/
// for navbar
.navbar{
    background-color: #fff !important;
    .navbar-brand{
        img{
            height: 65px;
        }
    }
    .navbar-nav{
        .nav-item{
            margin: 0px 10px;
            .nav-link{
                font-weight: 600;
                font-size: 15px;
                padding: 10px 15px;
                color: #918f8fd2;
                &:hover{
                    color: $megenda;
                }
                &.active{
                    color: $megenda;
                }
            }
        }
    }
    .searchButton{
        button{
            height: 40px;
            width: 40px;
            border-radius: 30px;
            border: none;
            background-color: transparent;
            svg{
                height: 25px;
                color: $titleColor;
                transition: 0.3s;
            }
            &:hover{
                svg{
                    color: $mainColor;
                }
            }
        }
        
    }
}

// homeSlider
.homeSlider{
    margin-top: 10px;
    .carousel{
        width: 80%;
        margin: 0 auto;
        .carousel-item{
            border-radius: 30px;
            img{
                border-radius: 30px;
            }
        }
    }
}

.sectionTitle{
    h3{
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
    }
}

// breadComeComponent
.breadComeComponent{
    margin-top: 10px;
    .breadcrumb{
        background-color: #e5e5e5b7;
        border-radius: 10px;
        padding: 14px 20px;
        margin-bottom: 0px;
        .breadcrumb-item{
            a{
                display: flex !important;
                align-items: center;
                column-gap: 6px;
                font-weight: 500;
                font-size: 15px;
            }
            svg{
                height: 20px;
            }
            &.active{
                font-weight: 500;
            }
        }
    }
}
.card{
    height: 100%;
    border: 1px solid $mainColor !important;
}
.card.rounded-bottom{
    border-radius: 10px 10px 100px 100px !important;
    overflow: hidden;
    .card-body{
        padding: 10px 20px 0px 20px;
        position: relative;
        .btn{
            margin: 0 auto;
            display: table;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $mainColor;
            border-color: $mainColor;
            color: $titleColor;
            font-weight: 600;
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 0px;
            svg{
                height: 16px;
                margin-left: 4px;
            }
            &:hover{
                background-color: $megenda;
                border-color: $megenda;
                color: #fff;
            }
        }
        .card-title{
            font-weight: 600;
            font-size: 17px;
            margin-bottom: 3px;
        }
        .card-text{
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
            padding-bottom: 40px;
        }
    }
}

.amenitiesSection{
    padding: 20px 0px;
    .cardBox{
        margin-top: 20px;
        >.row{
            row-gap: 20px;
        }
        .cardImage{
            min-height: 200px;
        }
    }
}
.residentsSection{
    padding: 20px 0px 40px 0px;
    .cardBox{
        margin-top: 20px;
        >.row{
            row-gap: 20px;
        }
        .cardImage{
            min-height: 224px;
            max-height: 224px;
            object-fit: cover;
        }
    }
}

.boardSection{
    padding: 20px 0px 40px 0px;
    .cardBox{
        margin-top: 20px;
        >.row{
            row-gap: 20px;
        }
        .cardImage{
            min-height: 220px;
            max-height: 220px;
        }
    }
}

.mobileLogo{
    display: none;
}

// for responsive
@media (min-width: 992px) and (max-width: 1199px) {
    
}
@media (max-width: 991px) {
    .navbar{
        .row{
            width: 100%;
            flex: 1;
        }
    }
    .mobileLogo{
        display: block;
        a{
            img{
                height: 50px;
            }
        }
    }
    .navbar-toggler{
        height: 50px;
        width: 50px;
        padding: 0px;
        border-radius: 30px;
        font-size: 16px;
        outline: none;
        box-shadow: none;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .navbar-brand{
        display: none;
    }
    .navbar-collapse{
        background-color: $mainColor;
        margin-top: 10px;
        border-radius: 10px;
    }
    .homeSlider .carousel {
        width: auto;
        max-width: 720px;
        margin: 0 auto;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        text-align: center;
    }
    .searchButton{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .homeSlider .carousel {
        width: auto;
        max-width: 540px;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    .homeSlider .carousel {
        width: auto;
        max-width: 95%;
        margin: 0 auto;
    }
    .homeSlider .carousel .carousel-item img {
        height: 390px;
        object-fit: cover;
    }
}